<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body mb-2">
                <h2>Customer Name: {{customer.customerName}}</h4>
                    <hr>
                    <h3>Address: {{customer.address.houseNo}}, {{customer.address.street}}, {{customer.address.city}}, {{customer.address.pincode}}</h3>
                    <hr>
                    <h4>Date: {{customer.date}}</h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body mb-2">
                <table>
                    <thead>
                        <tr>
                            {{#each customer.orders.[0].[0]}}
                            <th>{{@key}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each customer.orders.[0]}}
                        <tr>
                            {{#each this}}
                            <td>{{this}}</td>
                            {{/each}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2>Total Amount : {{totalAmount}}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <a href="/printInvoice/{{customer._id}}" class="btn btn-primary btn-block">Print Invoice</a>
            {{!--
            <a href="/sales" class="btn btn-primary">Amount Paid</a> --}}
        </div>
    </div>
</div>